@model BranchDTO
@{
    ViewData["Title"] = "Branches";
    BranchesModel _obj = new BranchesModel();

    void SelectedObject(BranchesModel obj)
    {
        _obj = obj;
    }

}
<h1>@ViewData["Title"]</h1>

<div class=" d-flex justify-content-end">
    <a type="button" class="btn btn-primary" asp-action="AddBranch" asp-controller="Branches">Add Branch</a>
</div>
@{
    if (!Model.data.Any())
    {
        <div style="display: flex; justify-content: center; align-items: center;">
            <img src="/assets/images/NoDataFound.jpg" style="width: 58vh; height: 58vh;" />
        </div>
    }
    else
    {
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Title</th>
                    <th scope="col">Manager Name</th>
                    <th scope="col">Opening Hour</th>
                    <th scope="col">Closing Hour</th>
                    <th scope="col">Working Hours</th>
                    <th scope="col">Edit</th>
                    <th scope="col">Delete</th>
                </tr>
            </thead>
            <tbody>

                @foreach (var branch in Model.data)
                {
                    <tr>
                        <th scope="row">@branch.Id</th>
                        <td>@branch.Title</td>
                        <td>@branch.ManagerName</td>
                        <td>@branch.OpenningHour</td>
                        <td>@branch.ClosingHour</td>
                        <td>@branch.WorkingHours</td>
                        <td>
                            <!-- Edit Button -->
                            <a type="button" class="btn btn-primary" asp-action="EditBranch" asp-controller="Branches" asp-route-Id="@branch.Id">
                                Edit
                            </a>
                        </td>
                        <td>
                            <!-- Delete Button -->
                            <button type="button" data-id="@branch.Id" data-title="@branch.Title" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#DeletingModal">
                                Delete
                            </button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        @Html.Partial("_PaginationPartialView", new PaginationModel { TotalPages = Model.totalPages })

    }
    
}

@Html.Partial("Modals/_DeletingModal")




